/* Sprite Setup */
/* Global mediaQueries mixin */
/* Global Variables */
/* COLORS */
/* FONTS */
/* COLOR & FONT PARAMETERS */
/* Global font Calculation */
/* line 80, ../assets/styles/global/_global_fonts.scss */
html {
  font-size: 112.5% !important;
}

/* Global Mixins */
/* line 7, ../assets/styles/block/_hjemis.scss */
.hjemis {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #69625d;
}
/* line 15, ../assets/styles/block/_hjemis.scss */
.hjemis [data-ng-click],
.hjemis [ng-click] {
  cursor: pointer;
}

/* line 21, ../assets/styles/block/_hjemis.scss */
.hjemis,
.hjemis__header,
.hjemis__logo,
.hjemis__headerlink {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 33, ../assets/styles/block/_hjemis.scss */
.hjemis__header {
  display: block;
  width: 100%;
  height: 110px;
  position: relative;
}

/* line 40, ../assets/styles/block/_hjemis.scss */
.hjemis__logo {
  display: block;
  position: absolute;
  top: -20px;
  left: calc(50% - 92.5px);
  width: 185px;
  height: 134px;
  background-image: url("../images/hjemis_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  z-index: 60;
}

/* line 57, ../assets/styles/block/_hjemis.scss */
.hjemis__headerlink {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
}

/* line 8, ../assets/styles/block/_container.scss */
.container {
  -moz-transition: -moz-transform 800ms ease;
  -o-transition: -o-transform 800ms ease;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  opacity: 1;
}
/* line 20, ../assets/styles/block/_container.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 34, ../assets/styles/block/_container.scss */
.container,
.container__inner,
.container__content,
.container__overlay,
.container__overlaybg,
.container__bg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 47, ../assets/styles/block/_container.scss */
.container__inner {
  position: relative;
  width: 100%;
}
/* line 50, ../assets/styles/block/_container.scss */
.container__inner:after {
  content: "";
  display: block;
  clear: both;
}
/* line 55, ../assets/styles/block/_container.scss */
.container__inner + .container__inner {
  margin-top: 30px;
}
/* line 58, ../assets/styles/block/_container.scss */
.container__inner > img {
  display: block;
  width: 100%;
  margin: 0;
}

/* line 68, ../assets/styles/block/_container.scss */
.container__content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 1;
}

/* line 82, ../assets/styles/block/_container.scss */
.container__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 93, ../assets/styles/block/_container.scss */
.container--fullscreen {
  height: 100%;
  overflow: hidden;
}

/* line 98, ../assets/styles/block/_container.scss */
.container--expand {
  padding-left: 0;
  padding-right: 0;
}
/* line 101, ../assets/styles/block/_container.scss */
.container--expand .container__content {
  width: 100%;
}

/* line 106, ../assets/styles/block/_container.scss */
.container--pushtop {
  padding-top: 190px;
}

/* line 110, ../assets/styles/block/_container.scss */
.container__content--center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 124, ../assets/styles/block/_container.scss */
.container--textcenter {
  text-align: center;
}

/* line 128, ../assets/styles/block/_container.scss */
.container--skyblue {
  background-color: #add8ee;
}

/* line 132, ../assets/styles/block/_container.scss */
.container--deepsea {
  background-color: #10223e;
  color: #ffffff;
}

/* line 137, ../assets/styles/block/_container.scss */
.container--lightgrey {
  background-color: #ededed;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 145, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 155, ../assets/styles/block/_container.scss */
  .container__content {
    width: 100%;
  }

  /* line 159, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 15px;
  }

  /* line 163, ../assets/styles/block/_container.scss */
  .container--xs-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 166, ../assets/styles/block/_container.scss */
  .container--xs-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 570px) and (max-width: 969px) {
  /* line 173, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* line 183, ../assets/styles/block/_container.scss */
  .container__content {
    width: 100%;
  }

  /* line 187, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 30px;
  }

  /* line 191, ../assets/styles/block/_container.scss */
  .container--s-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 194, ../assets/styles/block/_container.scss */
  .container--s-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 970px) and (max-width: 1169px) {
  /* line 201, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* line 211, ../assets/styles/block/_container.scss */
  .container__content {
    width: 960px;
  }

  /* line 215, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 30px;
  }

  /* line 219, ../assets/styles/block/_container.scss */
  .container--m-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 222, ../assets/styles/block/_container.scss */
  .container--m-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 1170px) and (max-width: 1500px) {
  /* line 229, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* line 239, ../assets/styles/block/_container.scss */
  .container__content {
    width: 960px;
  }

  /* line 243, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 50px;
  }

  /* line 247, ../assets/styles/block/_container.scss */
  .container--l-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 250, ../assets/styles/block/_container.scss */
  .container--l-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 1501px) {
  /* line 257, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* line 267, ../assets/styles/block/_container.scss */
  .container__content {
    width: 960px;
  }

  /* line 271, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 50px;
  }

  /* line 275, ../assets/styles/block/_container.scss */
  .container--xl-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 278, ../assets/styles/block/_container.scss */
  .container--xl-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 1px) {
  /* line 285, ../assets/styles/block/_container.scss */
  .container--expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 288, ../assets/styles/block/_container.scss */
  .container--expand .container__content {
    width: 100%;
  }
}
/* Grid
---------------------------------------------------------------*/
/* line 8, ../assets/styles/block/_grid.scss */
.grid,
[class*=grid--] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 1px;
  position: relative;
  width: 100%;
}

/* line 19, ../assets/styles/block/_grid.scss */
.grid,
[class*=grid--],
.grid__wedge {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 29, ../assets/styles/block/_grid.scss */
.grid__wedge {
  display: block;
  height: 10px;
  width: 100%;
  clear: both;
}

/* line 38, ../assets/styles/block/_grid.scss */
.grid--spaceright {
  padding-right: 10px;
}

/* line 50, ../assets/styles/block/_grid.scss */
.grid--spaceleft {
  padding-left: 10px;
}

/* line 62, ../assets/styles/block/_grid.scss */
.grid--pushbottom {
  margin-bottom: 10px;
}

/* line 66, ../assets/styles/block/_grid.scss */
.grid--pushtop {
  margin-top: 10px;
}

/* line 70, ../assets/styles/block/_grid.scss */
.grid--alignright {
  text-align: right;
}

/* line 74, ../assets/styles/block/_grid.scss */
.grid--aligncenter {
  text-align: center;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--1 {
  width: 4.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--2 {
  width: 8.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--3 {
  width: 12.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--4 {
  width: 16.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--5 {
  width: 20.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--6 {
  width: 25%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--7 {
  width: 29.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--8 {
  width: 33.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--9 {
  width: 37.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--10 {
  width: 41.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--11 {
  width: 45.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--12 {
  width: 50%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--13 {
  width: 54.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--14 {
  width: 58.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--15 {
  width: 62.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--16 {
  width: 66.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--17 {
  width: 70.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--18 {
  width: 75%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--19 {
  width: 79.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--20 {
  width: 83.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--21 {
  width: 87.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--22 {
  width: 91.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--23 {
  width: 95.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--24 {
  width: 100%;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--1 {
    width: 8.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--1 {
    width: 4.1666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--2 {
    width: 16.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--2 {
    width: 8.3333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--3 {
    width: 25%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--3 {
    width: 12.5%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--4 {
    width: 33.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--4 {
    width: 16.6666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--5 {
    width: 41.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--5 {
    width: 20.8333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--6 {
    width: 50%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--6 {
    width: 25%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--7 {
    width: 58.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--7 {
    width: 29.1666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--8 {
    width: 66.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--8 {
    width: 33.3333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--9 {
    width: 75%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--9 {
    width: 37.5%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--10 {
    width: 83.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--10 {
    width: 41.6666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--11 {
    width: 91.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--11 {
    width: 45.8333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--12 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--12 {
    width: 50%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--13 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--13 {
    width: 54.1666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--14 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--14 {
    width: 58.3333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--15 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--15 {
    width: 62.5%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--16 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--16 {
    width: 66.6666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--17 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--17 {
    width: 70.8333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--18 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--18 {
    width: 75%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--19 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--19 {
    width: 79.1666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--20 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--20 {
    width: 83.3333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--21 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--21 {
    width: 87.5%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--22 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--22 {
    width: 91.6666666667%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--23 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--23 {
    width: 95.8333333333%;
  }

  /* line 90, ../assets/styles/block/_grid.scss */
  .grid--24 {
    width: 100%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--24 {
    width: 100%;
  }
}
@media all and (min-width: 570px) and (max-width: 969px) {
  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--1 {
    width: 8.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--1 {
    width: 4.1666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--2 {
    width: 16.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--2 {
    width: 8.3333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--3 {
    width: 25%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--3 {
    width: 12.5%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--4 {
    width: 33.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--4 {
    width: 16.6666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--5 {
    width: 41.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--5 {
    width: 20.8333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--6 {
    width: 50%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--6 {
    width: 25%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--7 {
    width: 58.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--7 {
    width: 29.1666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--8 {
    width: 66.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--8 {
    width: 33.3333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--9 {
    width: 75%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--9 {
    width: 37.5%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--10 {
    width: 83.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--10 {
    width: 41.6666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--11 {
    width: 91.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--11 {
    width: 45.8333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--12 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--12 {
    width: 50%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--13 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--13 {
    width: 54.1666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--14 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--14 {
    width: 58.3333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--15 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--15 {
    width: 62.5%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--16 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--16 {
    width: 66.6666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--17 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--17 {
    width: 70.8333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--18 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--18 {
    width: 75%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--19 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--19 {
    width: 79.1666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--20 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--20 {
    width: 83.3333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--21 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--21 {
    width: 87.5%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--22 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--22 {
    width: 91.6666666667%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--23 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--23 {
    width: 95.8333333333%;
  }

  /* line 107, ../assets/styles/block/_grid.scss */
  .grid--24 {
    width: 100%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--24 {
    width: 100%;
  }
}
/* Checker module
---------------------------------------------------------------*/
/* line 7, ../assets/styles/block/_checker.scss */
.checker {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  min-width: 20px;
}
/* line 14, ../assets/styles/block/_checker.scss */
.checker:after {
  content: "";
  display: block;
  clear: both;
}

/* line 21, ../assets/styles/block/_checker.scss */
.checker__box {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
/* line 28, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"] {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 10 !important;
  border: none !important;
  background: none !important;
  width: 20px !important;
  height: 20px !important;
  outline: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 49, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"].ng-dirty.ng-invalid + .checker__ui, .checker__box input[type="checkbox"].ng-dirty.ng-invalid ~ .checker__ui {
  background-color: red;
}
/* line 63, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"]:checked + .checker__ui, .checker__box input[type="checkbox"]:checked ~ .checker__ui {
  color: #000000;
}
/* line 66, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"]:checked + .checker__ui:after, .checker__box input[type="checkbox"]:checked ~ .checker__ui:after {
  content: "";
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 20px;
  text-align: center;
  color: inherit;
}

/* line 84, ../assets/styles/block/_checker.scss */
.checker__ui {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid #ffffff;
  z-index: 5;
}

/* line 97, ../assets/styles/block/_checker.scss */
.checker__text {
  padding-left: 25px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.checker__text {
  font-size: 11px;
  font-size: 0.6111111111rem;
}
/* line 103, ../assets/styles/block/_checker.scss */
.checker__text > a {
  text-decoration: underline;
}

/* line 6, ../assets/styles/block/_form.scss */
.form {
  display: block;
  width: 100%;
  font-family: "Myriad Pro", "Arial", Sans-serif;
}

/* line 12, ../assets/styles/block/_form.scss */
.form,
.form__line,
.form__label,
.form__input,
.form__button,
.form__upload,
.form__textarea,
.form__select,
.form__msg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 28, ../assets/styles/block/_form.scss */
.form__input, .form__textarea, .form__select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #69625d;
  font-family: inherit;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__input, .form__textarea, .form__select {
  font-size: 16px;
  font-size: 0.8888888889rem;
  line-height: 19.2px;
  line-height: 1.0666666667rem;
}
/* line 42, ../assets/styles/block/_form.scss */
.ng-invalid-required.ng-dirty.form__input, .ng-invalid-required.ng-dirty.form__textarea, .ng-invalid-required.ng-dirty.form__select {
  border: 1px solid red;
}

/* line 48, ../assets/styles/block/_form.scss */
.form__button, .form__upload {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 12px;
  min-width: 170px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  font-family: inherit;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__button, .form__upload {
  font-size: 18px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1rem;
}

/* line 71, ../assets/styles/block/_form.scss */
.form__line {
  display: block;
  width: 100%;
}
/* line 74, ../assets/styles/block/_form.scss */
.form__line + .form__line {
  margin-top: 14px;
}
/* line 79, ../assets/styles/block/_form.scss */
.form__line .form__input + .form__input {
  margin-top: 5px;
}

/* line 85, ../assets/styles/block/_form.scss */
.form__label {
  display: block;
  width: 100%;
}

/* line 94, ../assets/styles/block/_form.scss */
.form__textarea {
  min-height: 350px;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__textarea {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 28.8px;
  line-height: 1.6rem;
}

/* line 110, ../assets/styles/block/_form.scss */
.form__msg {
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  color: red;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__msg {
  font-size: 12px;
  font-size: 0.6666666667rem;
  line-height: 12px;
  line-height: 0.6666666667rem;
}

/* line 122, ../assets/styles/block/_form.scss */
.form__upload > label {
  display: block;
}
/* line 125, ../assets/styles/block/_form.scss */
.form__upload > input[type="file"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 143, ../assets/styles/block/_form.scss */
.form__input + *,
.form__textarea + *,
.form__button + *,
.form__select + *,
.form__upload + * {
  margin-top: 10px;
}

/* line 151, ../assets/styles/block/_form.scss */
.form__line--2:after {
  content: "";
  display: block;
  clear: both;
}
/* line 156, ../assets/styles/block/_form.scss */
.form__line--2 .form__input {
  width: calc(50% - 7px);
  margin-right: 7px;
  float: left;
}
/* line 160, ../assets/styles/block/_form.scss */
.form__line--2 .form__input + .form__input {
  margin-top: 0;
  margin-right: 0;
  margin-left: 7px;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 5, ../assets/styles/vendor/_vendor_boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../assets/styles/vendor/_vendor_boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../assets/styles/vendor/_vendor_boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../assets/styles/vendor/_vendor_boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../assets/styles/vendor/_vendor_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../assets/styles/vendor/_vendor_boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../assets/styles/vendor/_vendor_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../assets/styles/vendor/_vendor_boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../assets/styles/vendor/_vendor_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../assets/styles/vendor/_vendor_boilerplate.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../assets/styles/vendor/_vendor_boilerplate.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../assets/styles/vendor/_vendor_boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../assets/styles/vendor/_vendor_boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 126, ../assets/styles/vendor/_vendor_boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../assets/styles/vendor/_vendor_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 140, ../assets/styles/vendor/_vendor_boilerplate.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../assets/styles/vendor/_vendor_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../assets/styles/vendor/_vendor_boilerplate.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../assets/styles/vendor/_vendor_boilerplate.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 166, ../assets/styles/vendor/_vendor_boilerplate.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../assets/styles/vendor/_vendor_boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../assets/styles/vendor/_vendor_boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 183, ../assets/styles/vendor/_vendor_boilerplate.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 189, ../assets/styles/vendor/_vendor_boilerplate.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../assets/styles/vendor/_vendor_boilerplate.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 199, ../assets/styles/vendor/_vendor_boilerplate.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../assets/styles/vendor/_vendor_boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 212, ../assets/styles/vendor/_vendor_boilerplate.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 219, ../assets/styles/vendor/_vendor_boilerplate.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../assets/styles/vendor/_vendor_pollutions.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 7, ../assets/styles/vendor/_vendor_pollutions.scss */
a {
  color: inherit;
}
/* line 9, ../assets/styles/vendor/_vendor_pollutions.scss */
a img {
  border: none;
}

/* line 15, ../assets/styles/vendor/_vendor_pollutions.scss */
h1, h2, h3, h4, p {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
