/* Sprite Setup */
@font-face {
  font-family: 'sentinelblack';
  src: url("../fonts/Sentinel-Black-webfont.eot");
  src: url("../fonts/Sentinel-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Sentinel-Black-webfont.woff2") format("woff2"), url("../fonts/Sentinel-Black-webfont.woff") format("woff"), url("../fonts/Sentinel-Black-webfont.ttf") format("truetype"), url("../fonts/Sentinel-Black-webfont.svg#sentinelblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Global mediaQueries mixin */
/* Global Variables */
/* COLORS */
/* FONTS */
/* COLOR & FONT PARAMETERS */
/* Global font Calculation */
/* line 80, ../assets/styles/global/_global_fonts.scss */
html {
  font-size: 112.5% !important;
}

/* Global Mixins */
/* line 7, ../assets/styles/block/_hjemis.scss */
.hjemis {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #69625d;
  font-family: "Myriad Pro", "Arial", Sans-serif;
}
/* line 16, ../assets/styles/block/_hjemis.scss */
.hjemis [data-ng-click],
.hjemis [ng-click] {
  cursor: pointer;
}

/* line 22, ../assets/styles/block/_hjemis.scss */
.hjemis,
.hjemis__header,
.hjemis__logo,
.hjemis__headerlink {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 34, ../assets/styles/block/_hjemis.scss */
.hjemis__header {
  display: block;
  width: 100%;
  height: 120px;
  position: relative;
}

/* line 41, ../assets/styles/block/_hjemis.scss */
.hjemis__logo {
  display: block;
  position: absolute;
  top: -20px;
  left: calc(50% - 92.5px);
  width: 185px;
  height: 134px;
  background-image: url("../images/hjemis_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  z-index: 60;
}

/* line 58, ../assets/styles/block/_hjemis.scss */
.hjemis__headerlink {
  position: absolute;
  right: 0;
  color: #ffffff;
  top: calc(50% - 20px);
  font-weight: 700;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.hjemis__headerlink {
  font-size: 20px;
  font-size: 1.1111111111rem;
  line-height: 20px;
  line-height: 1.1111111111rem;
}

/* line 67, ../assets/styles/block/_hjemis.scss */
.hjemis__intro {
  width: 100%;
  padding-bottom: 55.3941908714%;
  background-image: url("../images/hjemis_intro.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 86, ../assets/styles/block/_hjemis.scss */
  .hjemis__logo {
    height: 100%;
    top: -10%;
  }

  /* line 92, ../assets/styles/block/_hjemis.scss */
  .hjemis__header {
    height: 85px;
  }

  /* line 95, ../assets/styles/block/_hjemis.scss */
  .hjemis__headerlink {
    top: calc(50% - 14px);
  }
  /* line 42, ../assets/styles/global/_global_fonts.scss */
  .hjemis__headerlink {
    font-size: 14px;
    font-size: 0.7777777778rem;
    line-height: 14px;
    line-height: 0.7777777778rem;
  }

  /* line 99, ../assets/styles/block/_hjemis.scss */
  .hjemis__intro {
    padding-bottom: 60%;
    background-image: url("../images/hjemis_intro-mobile.png");
  }
}
/* line 8, ../assets/styles/block/_container.scss */
.container {
  -moz-transition: -moz-transform 800ms ease;
  -o-transition: -o-transform 800ms ease;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  opacity: 1;
}

/* line 31, ../assets/styles/block/_container.scss */
.container,
.container__inner,
.container__content,
.container__overlay,
.container__overlaybg,
.container__bg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 44, ../assets/styles/block/_container.scss */
.container__inner {
  position: relative;
  width: 100%;
}
/* line 47, ../assets/styles/block/_container.scss */
.container__inner:after {
  content: "";
  display: block;
  clear: both;
}
/* line 52, ../assets/styles/block/_container.scss */
.container__inner + .container__inner {
  margin-top: 30px;
}
/* line 55, ../assets/styles/block/_container.scss */
.container__inner > img {
  display: block;
  width: 100%;
  margin: 0;
}

/* line 65, ../assets/styles/block/_container.scss */
.container__content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 1;
}

/* line 79, ../assets/styles/block/_container.scss */
.container__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* line 90, ../assets/styles/block/_container.scss */
.container--fullscreen {
  height: 100%;
  overflow: hidden;
}

/* line 95, ../assets/styles/block/_container.scss */
.container--expand {
  padding-left: 0;
  padding-right: 0;
}
/* line 98, ../assets/styles/block/_container.scss */
.container--expand .container__content {
  width: 100%;
}

/* line 103, ../assets/styles/block/_container.scss */
.container--pushtop {
  padding-top: 190px;
}

/* line 107, ../assets/styles/block/_container.scss */
.container--nogutter {
  padding-left: 0;
  padding-right: 0;
}

/* line 112, ../assets/styles/block/_container.scss */
.container--ridge {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 117, ../assets/styles/block/_container.scss */
.container--ridgetop {
  padding-top: 0;
}

/* line 121, ../assets/styles/block/_container.scss */
.container--ridgebottom {
  padding-bottom: 0;
}

/* line 125, ../assets/styles/block/_container.scss */
.container__content--center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 139, ../assets/styles/block/_container.scss */
.container--textcenter {
  text-align: center;
}

/* line 143, ../assets/styles/block/_container.scss */
.container__inner--narrow {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* line 149, ../assets/styles/block/_container.scss */
.container--skyblue {
  background-color: #add8ee;
}
/* line 151, ../assets/styles/block/_container.scss */
.container--skyblue::before, .container--skyblue::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  background-image: url("../images/stribes2-right.png");
  background-size: cover;
}
/* line 162, ../assets/styles/block/_container.scss */
.container--skyblue::before {
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  left: 0;
}
/* line 167, ../assets/styles/block/_container.scss */
.container--skyblue::after {
  right: 0;
}

/* line 172, ../assets/styles/block/_container.scss */
.container--deepsea {
  background-color: #10223e;
  color: #ffffff;
}
/* line 175, ../assets/styles/block/_container.scss */
.container--deepsea::before, .container--deepsea::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 40%;
  background-image: url("../images/stribes-right.png");
  background-size: cover;
}
/* line 186, ../assets/styles/block/_container.scss */
.container--deepsea::before {
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  left: 0;
}
/* line 191, ../assets/styles/block/_container.scss */
.container--deepsea::after {
  right: 0;
}

/* line 196, ../assets/styles/block/_container.scss */
.container--lightgrey {
  background-color: #ededed;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 204, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* line 209, ../assets/styles/block/_container.scss */
  .container:not(.container--ridge):not(.container--ridgetop) {
    padding-top: 40px;
  }
  /* line 212, ../assets/styles/block/_container.scss */
  .container:not(.container--ridge):not(.container--ridgebottom) {
    padding-bottom: 40px;
  }

  /* line 224, ../assets/styles/block/_container.scss */
  .container__content {
    width: 100%;
  }

  /* line 228, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 15px;
  }

  /* line 232, ../assets/styles/block/_container.scss */
  .container__inner--narrow {
    width: 100%;
  }

  /* line 235, ../assets/styles/block/_container.scss */
  .container--xs-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 238, ../assets/styles/block/_container.scss */
  .container--xs-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 570px) and (max-width: 1099px) {
  /* line 245, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* line 255, ../assets/styles/block/_container.scss */
  .container__content {
    width: 100%;
  }

  /* line 259, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 30px;
  }

  /* line 263, ../assets/styles/block/_container.scss */
  .container--s-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 266, ../assets/styles/block/_container.scss */
  .container--s-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 1100px) {
  /* line 273, ../assets/styles/block/_container.scss */
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* line 283, ../assets/styles/block/_container.scss */
  .container__content {
    width: 960px;
  }

  /* line 287, ../assets/styles/block/_container.scss */
  .container__inner + .container__inner {
    margin-top: 50px;
  }

  /* line 291, ../assets/styles/block/_container.scss */
  .container--m-expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 294, ../assets/styles/block/_container.scss */
  .container--m-expand .container__content {
    width: 100%;
  }
}
@media all and (min-width: 1px) {
  /* line 357, ../assets/styles/block/_container.scss */
  .container--expand {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 360, ../assets/styles/block/_container.scss */
  .container--expand .container__content {
    width: 100%;
  }
}
/* Grid
---------------------------------------------------------------*/
/* line 8, ../assets/styles/block/_grid.scss */
.grid,
[class*=grid--] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  min-height: 1px;
  position: relative;
  width: 100%;
}

/* line 19, ../assets/styles/block/_grid.scss */
.grid,
[class*=grid--],
.grid__wedge {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 29, ../assets/styles/block/_grid.scss */
.grid__wedge {
  display: block;
  height: 10px;
  width: 100%;
  clear: both;
}

/* line 38, ../assets/styles/block/_grid.scss */
.grid--spaceright {
  padding-right: 10px;
}

/* line 50, ../assets/styles/block/_grid.scss */
.grid--spaceleft {
  padding-left: 10px;
}

/* line 62, ../assets/styles/block/_grid.scss */
.grid--pushbottom {
  margin-bottom: 10px;
}

/* line 66, ../assets/styles/block/_grid.scss */
.grid--pushtop {
  margin-top: 10px;
}

/* line 70, ../assets/styles/block/_grid.scss */
.grid--alignright {
  text-align: right;
}

/* line 74, ../assets/styles/block/_grid.scss */
.grid--aligncenter {
  text-align: center;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--1 {
  width: 4.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--2 {
  width: 8.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--3 {
  width: 12.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--4 {
  width: 16.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--5 {
  width: 20.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--6 {
  width: 25%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--7 {
  width: 29.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--8 {
  width: 33.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--9 {
  width: 37.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--10 {
  width: 41.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--11 {
  width: 45.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--12 {
  width: 50%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--13 {
  width: 54.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--14 {
  width: 58.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--15 {
  width: 62.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--16 {
  width: 66.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--17 {
  width: 70.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--18 {
  width: 75%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--19 {
  width: 79.1666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--20 {
  width: 83.3333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--21 {
  width: 87.5%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--22 {
  width: 91.6666666667%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--23 {
  width: 95.8333333333%;
}

/* line 80, ../assets/styles/block/_grid.scss */
.grid--24 {
  width: 100%;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--1 {
    width: 4.1666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--2 {
    width: 8.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--3 {
    width: 12.5%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--4 {
    width: 16.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--5 {
    width: 20.8333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--6 {
    width: 25%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--7 {
    width: 29.1666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--8 {
    width: 33.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--9 {
    width: 37.5%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--10 {
    width: 41.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--11 {
    width: 45.8333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--12 {
    width: 50%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--13 {
    width: 54.1666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--14 {
    width: 58.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--15 {
    width: 62.5%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--16 {
    width: 66.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--17 {
    width: 70.8333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--18 {
    width: 75%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--19 {
    width: 79.1666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--20 {
    width: 83.3333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--21 {
    width: 87.5%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--22 {
    width: 91.6666666667%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--23 {
    width: 95.8333333333%;
  }

  /* line 98, ../assets/styles/block/_grid.scss */
  .grid-xs--24 {
    width: 100%;
  }
}
@media all and (min-width: 570px) and (max-width: 1099px) {
  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--1 {
    width: 4.1666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--2 {
    width: 8.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--3 {
    width: 12.5%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--4 {
    width: 16.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--5 {
    width: 20.8333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--6 {
    width: 25%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--7 {
    width: 29.1666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--8 {
    width: 33.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--9 {
    width: 37.5%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--10 {
    width: 41.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--11 {
    width: 45.8333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--12 {
    width: 50%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--13 {
    width: 54.1666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--14 {
    width: 58.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--15 {
    width: 62.5%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--16 {
    width: 66.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--17 {
    width: 70.8333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--18 {
    width: 75%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--19 {
    width: 79.1666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--20 {
    width: 83.3333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--21 {
    width: 87.5%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--22 {
    width: 91.6666666667%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--23 {
    width: 95.8333333333%;
  }

  /* line 115, ../assets/styles/block/_grid.scss */
  .grid-s--24 {
    width: 100%;
  }
}
/* Checker module
---------------------------------------------------------------*/
/* line 7, ../assets/styles/block/_checker.scss */
.checker {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  min-width: 48px;
  color: #10223e;
}
/* line 15, ../assets/styles/block/_checker.scss */
.checker:after {
  content: "";
  display: block;
  clear: both;
}

/* line 22, ../assets/styles/block/_checker.scss */
.checker__box {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0;
  top: 0;
}
/* line 30, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"] {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 10 !important;
  border: none !important;
  background: none !important;
  width: 48px !important;
  height: 48px !important;
  outline: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
}
/* line 52, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"].ng-dirty.ng-invalid + .checker__ui, .checker__box input[type="checkbox"].ng-dirty.ng-invalid ~ .checker__ui {
  border: 1px solid red;
}
/* line 65, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"]:checked + .checker__ui, .checker__box input[type="checkbox"]:checked ~ .checker__ui {
  color: #000000;
}
/* line 68, ../assets/styles/block/_checker.scss */
.checker__box input[type="checkbox"]:checked + .checker__ui:after, .checker__box input[type="checkbox"]:checked ~ .checker__ui:after {
  color: inherit;
  opacity: 1;
}

/* line 77, ../assets/styles/block/_checker.scss */
.checker__ui {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  color: #ffffff;
  z-index: 5;
}
/* line 87, ../assets/styles/block/_checker.scss */
.checker__ui::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  line-height: 48px;
  width: 48px;
  height: 48px;
  text-align: center;
  background-image: url("../images/icon-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 102, ../assets/styles/block/_checker.scss */
.checker__text {
  font-size: inherit;
  padding-left: 78px;
  line-height: 100%;
}
/* line 110, ../assets/styles/block/_checker.scss */
.checker__text > a {
  text-decoration: underline;
}

/* line 117, ../assets/styles/block/_checker.scss */
.checker--light .checker__ui {
  background-color: #ffffff;
}

/* line 7, ../assets/styles/block/_form.scss */
.form {
  display: block;
  width: 100%;
  font-family: "Myriad Pro", "Arial", Sans-serif;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form {
  font-size: 24px;
  font-size: 1.3333333333rem;
}

/* line 14, ../assets/styles/block/_form.scss */
.form,
.form__line,
.form__label,
.form__input,
.form__button,
.form__upload,
.form__textarea,
.form__select,
.form__msg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 30, ../assets/styles/block/_form.scss */
.form__input, .form__textarea, .form__select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 18px 16px;
  background-color: #ededed;
  color: #69625d;
  outline: none;
  border: none;
  font-family: inherit;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__input, .form__textarea, .form__select {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 28.8px;
  line-height: 1.6rem;
}
/* line 44, ../assets/styles/block/_form.scss */
.ng-invalid-required.ng-dirty.form__input, .ng-invalid-required.ng-dirty.form__textarea, .ng-invalid-required.ng-dirty.form__select {
  border: 1px solid red;
}

/* line 50, ../assets/styles/block/_form.scss */
.form__button, .form__upload {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  display: block;
  position: relative;
  width: 100%;
  min-width: 300px;
  padding: 18px 16px;
  margin: 0 auto;
  background-color: #c0bebc;
  color: #ffffff;
  border: none;
  outline: none;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__button, .form__upload {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 24px;
  line-height: 1.3333333333rem;
}

/* line 74, ../assets/styles/block/_form.scss */
.form__label {
  display: block;
  width: 100%;
}

/* line 79, ../assets/styles/block/_form.scss */
.form__input {
  -moz-appearance: textfield;
}
/* line 82, ../assets/styles/block/_form.scss */
.form__input[type=number]::-webkit-inner-spin-button, .form__input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 89, ../assets/styles/block/_form.scss */
.form__textarea {
  min-height: 350px;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__textarea {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 28.8px;
  line-height: 1.6rem;
}

/* line 105, ../assets/styles/block/_form.scss */
.form__msg {
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  color: red;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.form__msg {
  font-size: 12px;
  font-size: 0.6666666667rem;
  line-height: 12px;
  line-height: 0.6666666667rem;
}

/* line 115, ../assets/styles/block/_form.scss */
.form__upload {
  padding-top: 4px;
  padding-bottom: 8px;
}
/* line 119, ../assets/styles/block/_form.scss */
.form__upload > label {
  display: inline-block;
  vertical-align: sub;
}
/* line 122, ../assets/styles/block/_form.scss */
.form__upload > label + img {
  margin-left: 20px;
}
/* line 126, ../assets/styles/block/_form.scss */
.form__upload > input[type="file"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 135, ../assets/styles/block/_form.scss */
.form__upload > img {
  display: inline-block;
  margin: 0;
}

/* line 141, ../assets/styles/block/_form.scss */
.form__line {
  display: block;
  position: relative;
  width: 100%;
  clear: both;
}

/* line 156, ../assets/styles/block/_form.scss */
.form__input + *,
.form__textarea + *,
.form__button + *,
.form__select + *,
.form__upload + *,
.form__line + * {
  margin-top: 20px;
}

/* line 164, ../assets/styles/block/_form.scss */
.form--light .form__input, .form--light .form__textarea, .form--light .form__select {
  background-color: #ffffff;
}

/* line 169, ../assets/styles/block/_form.scss */
.form__button--submit {
  background-color: #add8ee;
  color: #ffffff;
}

/* line 176, ../assets/styles/block/_form.scss */
.form__line--2:after {
  content: "";
  display: block;
  clear: both;
}
/* line 181, ../assets/styles/block/_form.scss */
.form__line--2 .form__input, .form__line--2 .form__textarea, .form__line--2 .form__select,
.form__line--2 .form__button,
.form__line--2 .form__upload {
  width: calc(50% - 20px);
  margin-right: 20px;
  float: left;
}
/* line 186, ../assets/styles/block/_form.scss */
.form__line--2 .form__input + .form__input, .form__line--2 .form__textarea + .form__input, .form__line--2 .form__select + .form__input,
.form__line--2 .form__button + .form__input,
.form__line--2 .form__upload + .form__input {
  margin-top: 0;
  margin-right: 0;
  margin-left: 20px;
}

/* line 194, ../assets/styles/block/_form.scss */
.form__line--narrow {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 205, ../assets/styles/block/_form.scss */
  .form__line--narrow {
    width: 80%;
  }

  /* line 209, ../assets/styles/block/_form.scss */
  .form__line--2 .form__input, .form__line--2 .form__textarea, .form__line--2 .form__select,
  .form__line--2 .form__button,
  .form__line--2 .form__upload {
    margin-right: 0;
    width: 100%;
    float: none;
  }
  /* line 214, ../assets/styles/block/_form.scss */
  .form__line--2 .form__input + .form__input, .form__line--2 .form__textarea + .form__input, .form__line--2 .form__select + .form__input,
  .form__line--2 .form__button + .form__input,
  .form__line--2 .form__upload + .form__input {
    margin-left: 0;
    margin-top: 20px;
  }
}
/* line 15, ../assets/styles/block/_banner.scss */
.banner {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}

/* line 25, ../assets/styles/block/_banner.scss */
.banner {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 37, ../assets/styles/block/_banner.scss */
.banner--pull {
  position: absolute;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--gribmobilen {
  background-image: url("../images/banner-gribmobilen.png");
  width: 553px;
  padding-bottom: 79px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--gribmobilen.banner--pull {
  left: calc(50% - 276.5px);
  top: -51.35px;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--ekstrachancen {
  background-image: url("../images/banner-ekstrachancen.png");
  width: 546px;
  padding-bottom: 78px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--ekstrachancen.banner--pull {
  left: calc(50% - 273px);
  top: -50.7px;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--ekstralod {
  background-image: url("../images/banner-ekstralod.png");
  width: 610px;
  padding-bottom: 85px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--ekstralod.banner--pull {
  left: calc(50% - 305px);
  top: -55.25px;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--betingelser {
  background-image: url("../images/banner-betingelser.png");
  width: 553px;
  padding-bottom: 79px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--betingelser.banner--pull {
  left: calc(50% - 276.5px);
  top: -51.35px;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--seandres {
  background-image: url("../images/banner-seandres.png");
  width: 548px;
  padding-bottom: 78px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--seandres.banner--pull {
  left: calc(50% - 274px);
  top: -50.7px;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--hvornaer {
  background-image: url("../images/banner-hvornaer.png");
  width: 538px;
  padding-bottom: 77px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--hvornaer.banner--pull {
  left: calc(50% - 269px);
  top: -50.05px;
}

/* line 42, ../assets/styles/block/_banner.scss */
.banner--logo {
  background-image: url("../images/hjemis_logo.png");
  width: 185px;
  padding-bottom: 134px;
}
/* line 50, ../assets/styles/block/_banner.scss */
.banner--logo.banner--pull {
  left: calc(50% - 92.5px);
  top: -87.1px;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--gribmobilen {
    width: 276.5px;
    padding-bottom: 39.5px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--gribmobilen.banner--pull {
    left: calc(50% - 138.25px);
    top: -25.675px;
  }

  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--ekstrachancen {
    width: 273px;
    padding-bottom: 39px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--ekstrachancen.banner--pull {
    left: calc(50% - 136.5px);
    top: -25.35px;
  }

  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--ekstralod {
    width: 305px;
    padding-bottom: 42.5px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--ekstralod.banner--pull {
    left: calc(50% - 152.5px);
    top: -27.625px;
  }

  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--betingelser {
    width: 276.5px;
    padding-bottom: 39.5px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--betingelser.banner--pull {
    left: calc(50% - 138.25px);
    top: -25.675px;
  }

  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--seandres {
    width: 274px;
    padding-bottom: 39px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--seandres.banner--pull {
    left: calc(50% - 137px);
    top: -25.35px;
  }

  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--hvornaer {
    width: 269px;
    padding-bottom: 38.5px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--hvornaer.banner--pull {
    left: calc(50% - 134.5px);
    top: -25.025px;
  }

  /* line 61, ../assets/styles/block/_banner.scss */
  .banner--logo {
    width: 92.5px;
    padding-bottom: 67px;
  }
  /* line 67, ../assets/styles/block/_banner.scss */
  .banner--logo.banner--pull {
    left: calc(50% - 46.25px);
    top: -43.55px;
  }
}
@media all and (min-width: 570px) and (max-width: 1099px) {
  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--gribmobilen {
    width: 414.75px;
    padding-bottom: 59.25px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--gribmobilen.banner--pull {
    left: calc(50% - 207.375px);
    top: -38.5125px;
  }

  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--ekstrachancen {
    width: 409.5px;
    padding-bottom: 58.5px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--ekstrachancen.banner--pull {
    left: calc(50% - 204.75px);
    top: -38.025px;
  }

  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--ekstralod {
    width: 457.5px;
    padding-bottom: 63.75px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--ekstralod.banner--pull {
    left: calc(50% - 228.75px);
    top: -41.4375px;
  }

  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--betingelser {
    width: 414.75px;
    padding-bottom: 59.25px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--betingelser.banner--pull {
    left: calc(50% - 207.375px);
    top: -38.5125px;
  }

  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--seandres {
    width: 411px;
    padding-bottom: 58.5px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--seandres.banner--pull {
    left: calc(50% - 205.5px);
    top: -38.025px;
  }

  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--hvornaer {
    width: 403.5px;
    padding-bottom: 57.75px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--hvornaer.banner--pull {
    left: calc(50% - 201.75px);
    top: -37.5375px;
  }

  /* line 77, ../assets/styles/block/_banner.scss */
  .banner--logo {
    width: 138.75px;
    padding-bottom: 100.5px;
  }
  /* line 83, ../assets/styles/block/_banner.scss */
  .banner--logo.banner--pull {
    left: calc(50% - 69.375px);
    top: -65.325px;
  }
}
/* line 6, ../assets/styles/block/_rte.scss */
.rte {
  display: block;
  width: 100%;
  counter-reset: item;
  font-family: "Myriad Pro", "Arial", Sans-serif;
  font-weight: 400;
  color: inherit;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.rte {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 33.6px;
  line-height: 1.8666666667rem;
}
/* line 14, ../assets/styles/block/_rte.scss */
.rte + .rte {
  margin-top: 40px;
}

/* line 19, ../assets/styles/block/_rte.scss */
.rte p,
.rte a,
.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte img,
.rte div,
.rte form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
/* line 35, ../assets/styles/block/_rte.scss */
.rte p:last-child,
.rte a:last-child,
.rte h1:last-child,
.rte h2:last-child,
.rte h3:last-child,
.rte h4:last-child,
.rte img:last-child,
.rte div:last-child,
.rte form:last-child {
  margin-bottom: 0;
}
/* line 38, ../assets/styles/block/_rte.scss */
.rte p:not(img),
.rte a:not(img),
.rte h1:not(img),
.rte h2:not(img),
.rte h3:not(img),
.rte h4:not(img),
.rte img:not(img),
.rte div:not(img),
.rte form:not(img) {
  width: 100%;
}
/* line 41, ../assets/styles/block/_rte.scss */
.rte p.rte__neverstrech,
.rte a.rte__neverstrech,
.rte h1.rte__neverstrech,
.rte h2.rte__neverstrech,
.rte h3.rte__neverstrech,
.rte h4.rte__neverstrech,
.rte img.rte__neverstrech,
.rte div.rte__neverstrech,
.rte form.rte__neverstrech {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 47, ../assets/styles/block/_rte.scss */
.rte p:not(.rte__pull) + *,
.rte a:not(.rte__pull) + *,
.rte h1:not(.rte__pull) + *,
.rte h2:not(.rte__pull) + *,
.rte h3:not(.rte__pull) + *,
.rte h4:not(.rte__pull) + *,
.rte img:not(.rte__pull) + *,
.rte div:not(.rte__pull) + *,
.rte form:not(.rte__pull) + * {
  margin-top: 20px;
}
/* line 51, ../assets/styles/block/_rte.scss */
.rte p:not(.rte__pullup),
.rte a:not(.rte__pullup),
.rte h1:not(.rte__pullup),
.rte h2:not(.rte__pullup),
.rte h3:not(.rte__pullup),
.rte h4:not(.rte__pullup),
.rte img:not(.rte__pullup),
.rte div:not(.rte__pullup),
.rte form:not(.rte__pullup) {
  margin-bottom: 0;
}

/* line 56, ../assets/styles/block/_rte.scss */
.rte a {
  color: #69625d;
}

/* line 61, ../assets/styles/block/_rte.scss */
.rte p {
  text-align: center;
}
/* line 63, ../assets/styles/block/_rte.scss */
.rte p a {
  display: inline;
  text-transform: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* line 73, ../assets/styles/block/_rte.scss */
.rte,
.rte__headline,
.rte__segment,
.rte__image,
.rte__text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 85, ../assets/styles/block/_rte.scss */
.rte__headline {
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.rte__headline {
  font-size: 20px;
  font-size: 1.1111111111rem;
  line-height: 20px;
  line-height: 1.1111111111rem;
}

/* line 96, ../assets/styles/block/_rte.scss */
.rte__segment {
  display: block;
  width: 100%;
  position: relative;
  padding-left: 20px;
  clear: both;
  overflow: hidden;
}
/* line 103, ../assets/styles/block/_rte.scss */
.rte__segment + .rte__segment {
  margin-top: 40px;
}

/* line 108, ../assets/styles/block/_rte.scss */
.rte__image {
  display: block;
  position: relative;
  margin-top: 20px;
  float: left;
  width: 45%;
}
/* line 114, ../assets/styles/block/_rte.scss */
.rte__image + .rte__text {
  width: auto;
  overflow: hidden;
  padding-left: 20px;
  margin-top: 20px;
  padding-top: 10px;
}
/* line 121, ../assets/styles/block/_rte.scss */
.rte__image > img {
  display: block;
  width: 100%;
  border: 2px solid #ffffff;
}

/* line 128, ../assets/styles/block/_rte.scss */
.rte__text {
  width: 100%;
  display: block;
}

/* line 134, ../assets/styles/block/_rte.scss */
.rte__pull + * {
  margin-top: 0;
}

/* line 145, ../assets/styles/block/_rte.scss */
.rte__pullup {
  position: relative;
  top: -90px;
  margin-bottom: -90px;
}

/* line 153, ../assets/styles/block/_rte.scss */
.rte--center {
  text-align: center;
}

/* line 42, ../assets/styles/global/_global_fonts.scss */
.rte__headline--theta {
  font-size: 32px;
  font-size: 1.7777777778rem;
  line-height: 32px;
  line-height: 1.7777777778rem;
}

/* line 161, ../assets/styles/block/_rte.scss */
.rte--narrow {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 169, ../assets/styles/block/_rte.scss */
.rte--inherit {
  font-size: inherit;
  line-height: 1;
}

/* line 174, ../assets/styles/block/_rte.scss */
.rte__pullup--hard {
  top: -180px;
  margin-bottom: -180px;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 182, ../assets/styles/block/_rte.scss */
  .rte--narrow {
    width: 100%;
  }

  /* line 185, ../assets/styles/block/_rte.scss */
  .rte__pullup {
    top: -30px;
    margin-bottom: -30px;
  }
}
@media all and (min-width: 570px) and (max-width: 1099px) {
  /*
  .rte img {
  	width: auto;
  	margin-left: auto;
  	margin-right: auto;
  }
  */
  /* line 199, ../assets/styles/block/_rte.scss */
  .rte--narrow {
    width: 100%;
  }
}
@media all and (min-width: 1100px) {
  /*
  .rte img {
  	width: auto;
  	margin-left: auto;
  	margin-right: auto;
  }
  */
  /* line 212, ../assets/styles/block/_rte.scss */
  .rte--narrow {
    width: 80%;
  }
}
/* line 4, ../assets/styles/block/_spacer.scss */
.spacer {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 19px;
  clear: both;
}

/* line 12, ../assets/styles/block/_spacer.scss */
.spacer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 18, ../assets/styles/block/_spacer.scss */
.spacer--line {
  background-color: #ffffff;
}

/* line 22, ../assets/styles/block/_spacer.scss */
.spacer--headline {
  height: auto;
  background-color: transparent;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.spacer--headline {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 24px;
  line-height: 1.3333333333rem;
}
/* line 26, ../assets/styles/block/_spacer.scss */
.spacer--headline:after {
  content: "";
  margin-top: 3px;
  height: 1px;
  display: block;
  width: 100%;
  background-color: #ffffff;
}

/* line 37, ../assets/styles/block/_spacer.scss */
.spacer--50 {
  margin-bottom: 49px;
}

/* line 41, ../assets/styles/block/_spacer.scss */
.spacer--70 {
  margin-bottom: 69px;
}

/* line 45, ../assets/styles/block/_spacer.scss */
.spacer--100 {
  margin-bottom: 99px;
}

/* line 49, ../assets/styles/block/_spacer.scss */
.spacer--150 {
  margin-bottom: 149px;
}

/* line 53, ../assets/styles/block/_spacer.scss */
.spacer--200 {
  margin-bottom: 199px;
}

/* NOTES
*	Very polluting module. Use with caution
*/
/* line 11, ../assets/styles/block/_organizer.scss */
.organizer {
  display: block;
  width: 100%;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.organizer {
  font-size: 11px;
  font-size: 0.6111111111rem;
  line-height: 14.3px;
  line-height: 0.7944444444rem;
}
/* line 15, ../assets/styles/block/_organizer.scss */
.organizer h1 {
  font-family: "sentinelblack", "Myriad Pro", "Arial", Sans-serif;
  text-transform: uppercase;
}
/* line 42, ../assets/styles/global/_global_fonts.scss */
.organizer h1 {
  font-size: 12px;
  font-size: 0.6666666667rem;
  line-height: 12px;
  line-height: 0.6666666667rem;
}
/* line 20, ../assets/styles/block/_organizer.scss */
.organizer table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 26, ../assets/styles/block/_organizer.scss */
.organizer td {
  padding: 0;
  vertical-align: top;
  border: none;
}
/* line 31, ../assets/styles/block/_organizer.scss */
.organizer ul {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 36, ../assets/styles/block/_organizer.scss */
.organizer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 43, ../assets/styles/block/_organizer.scss */
.organizer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*
	These classes are for hiding markup under their specific media query.
	Ex. under media query mobile profile, with .querynot--mobile, the element will be hidden only on the mobile profile
*/
@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 30, ../assets/styles/block/_querynot.scss */
  .querynot--x-small {
    display: none;
  }
}
@media all and (min-width: 570px) and (max-width: 1099px) {
  /* line 30, ../assets/styles/block/_querynot.scss */
  .querynot--small {
    display: none;
  }
}
@media all and (min-width: 1100px) {
  /* line 30, ../assets/styles/block/_querynot.scss */
  .querynot--medium {
    display: none;
  }
}
@media all and (min-width: 1px) {
  /* line 30, ../assets/styles/block/_querynot.scss */
  .querynot--all {
    display: none;
  }
}
/* line 17, ../assets/styles/block/_color.scss */
.color--deepsea {
  color: #10223e;
}

@media all and (min-width: 1px) and (max-width: 569px) {
  /* line 20, ../assets/styles/block/_fluid.scss */
  .fluid--xs {
    width: 100%;
  }
}
@media all and (min-width: 570px) and (max-width: 1099px) {
  /* line 26, ../assets/styles/block/_fluid.scss */
  .fluid--s {
    width: 100%;
  }
}
/* line 7, ../assets/styles/block/_map.scss */
.map {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}
/* line 11, ../assets/styles/block/_map.scss */
.map > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 20, ../assets/styles/block/_map.scss */
.map {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 5, ../assets/styles/vendor/_vendor_boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../assets/styles/vendor/_vendor_boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../assets/styles/vendor/_vendor_boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../assets/styles/vendor/_vendor_boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../assets/styles/vendor/_vendor_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../assets/styles/vendor/_vendor_boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../assets/styles/vendor/_vendor_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../assets/styles/vendor/_vendor_boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../assets/styles/vendor/_vendor_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../assets/styles/vendor/_vendor_boilerplate.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../assets/styles/vendor/_vendor_boilerplate.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../assets/styles/vendor/_vendor_boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../assets/styles/vendor/_vendor_boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 126, ../assets/styles/vendor/_vendor_boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../assets/styles/vendor/_vendor_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 140, ../assets/styles/vendor/_vendor_boilerplate.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../assets/styles/vendor/_vendor_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../assets/styles/vendor/_vendor_boilerplate.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../assets/styles/vendor/_vendor_boilerplate.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 166, ../assets/styles/vendor/_vendor_boilerplate.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../assets/styles/vendor/_vendor_boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../assets/styles/vendor/_vendor_boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 183, ../assets/styles/vendor/_vendor_boilerplate.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 189, ../assets/styles/vendor/_vendor_boilerplate.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../assets/styles/vendor/_vendor_boilerplate.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 199, ../assets/styles/vendor/_vendor_boilerplate.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../assets/styles/vendor/_vendor_boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 212, ../assets/styles/vendor/_vendor_boilerplate.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 219, ../assets/styles/vendor/_vendor_boilerplate.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../assets/styles/vendor/_vendor_pollutions.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 7, ../assets/styles/vendor/_vendor_pollutions.scss */
a {
  color: inherit;
}
/* line 9, ../assets/styles/vendor/_vendor_pollutions.scss */
a img {
  border: none;
}

/* line 15, ../assets/styles/vendor/_vendor_pollutions.scss */
h1, h2, h3, h4, p {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
