doctype html
html(data-ng-app="noerd.Hjemis.Web", lang="da")
	head
		title Hjem-IS
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		//link(rel='stylesheet', href='http://fast.fonts.net/cssapi/3b2e6dd0-e910-423a-b15e-9ccfcadb3d28.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
		// Main app js
		script(src="/assets/bower_components/angular/angular.js")
		script(src="/assets/bower_components/angular-sanitize/angular-sanitize.js")
		script(src="/assets/bower_components/angular-cookies/angular-cookies.js")
		script(src="/assets/bower_components/ng-html-compile/src/ngHtmlCompile.js")

		//script(src="/assets/bower_components/angular-google-maps/dist/angular-google-maps.min.js")

		//script(src="https://maps.googleapis.com/maps/api/js?client=AIzaSyCfcZycHugWScHI_6iW-8ZlM92fpJL3894&v=3.19")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfcZycHugWScHI_6iW-8ZlM92fpJL3894&v=3.19")
		script(src="/assets/scripts/libs/markerclusterer_compiled.js")

		block head
		// Fonts

	body.hjemis(data-ng-controller="MainCtrl as main")


		block body

		block glovalVars


		section.container.container--skyblue.container--ridgetop
			div.container__content
				header.hjemis__header
					div.hjemis__logo
					a.hjemis__headerlink Hjem-IS.dk
				div.container__inner
					div.hjemis__intro
					//img(src="/images/hjemis_intro.png")

		section.container.container--ridge
			div.container__content
				div.banner.banner--gribmobilen.banner--pull

		block content

		section.container.container--ridge
			div.container__content
				div.banner.banner--hvornaer.banner--pull


		section.container.container--lightgrey
			div.container__content
				div.container__inner
					div.rte
						img.fluid--xs(src="/images/hjemisbilen.png")
						p.color--deepsea
							b Se her hvornår Hjem-IS-bilen kommer forbi dig næste gang.
					div.spacer.spacer--50
					form.form.form--light
						input.form__input(type="text", placeholder="Adresse")
						div.form__line.form__line--2
							input.form__input(type="number", placeholder="Husnr.")
							input.form__input(type="number", placeholder="Postnr.")
						div.spacer.spacer--50
						div.form__line.form__line--narrow
							input.form__button.form__button--submit(type="submit", value="Find mig")

		section.container
			div.container__content
				div.container__inner
					div.banner.banner--seandres
					div.spacer
					div.map
						div(data-map, data-width="300") Map


		section.container.container--ridge
			div.container__content
				div.banner.banner--ekstrachancen.banner--pull

		section.container.container--lightgrey
			div.container__content
				div.container__inner.container__inner--narrow
					div.rte
						div.rte__pullup
							img.fluid--s.fluid--xs(src="/images/reward-extra.png")
						p
							| Fik du ikke fotograferet Hjem-IS bilen, kan du stadig vinde. Eneste betingelse er, at du tilmelder dig vores nyhedsbrev her,
							br
							| så er du med i lodtrækningen om:
							br
							b - 2 x 2 voksen billetter til LEGOLAND værdi 329,- pr. stk.
							br
							b - 6 x store familiepakker fra Hjem-IS  værdi af 289,- kr.
							br
							b - 1 x Brunch for 2, værdi 249,-
							br
							b - 1 x Bio for 2, værdi 269,-
				div.container__inner
					form.form.form--light
						input.form__input(type="text", placeholder="Fornavn")
						input.form__input(type="text", placeholder="Efternavn")
						input.form__input(type="email", placeholder="E-mail")
						input.form__input(type="number", placeholder="Tlf.")
						div.checker.checker--light
							div.checker__box
								input(type="checkbox")
								div.checker__ui
							div.checker__text
								b JA TAK.
								|  Jeg ønsker at deltage i konkurrencen samt modtage nyhedsbrev fra Hjem-IS med tilbud, nyheder mm.
						div.spacer.spacer--50
						div.form__line.form__line--narrow
							input.form__button.form__button--submit(type="submit", value="Deltag")



		section.container
			div.container__content
				div.container__inner
					div.banner.banner--betingelser
					div.spacer
					div.rte
						p Konkurrenceperiode d. 27/4 - 7/6/2015.
						p
							| Førstepræmie: 5-dørs Citroën C1 Airscape med aircondition, stop&Start,
							br
							| 6 airbags, ratbetjent radio med bluetooth og USB-indgang, el-sideruder foran, LED-lys, nakkestøtter bag samt højdejusterbart førersæde til en værdi af 99.990 kr.
							br
							| Præmien kan ikke ombyttes til kontanter eller andre biler.
						p
							| Vinderen overraskes med præmien en søndag i juni 2015.
							br
							| Vinderne af de øvrige præmier findes ved lodtrækning
							br
							| og får direkte besked pr. mail.
						p
							| 2. præmie: Voksencykler af mærket Raleigh og børnecykler af mærket MBK
							br
							| – flere varianter at vælge mellem.
						p
							| Præmien kan afhentes hos Dania Bikes (læs mere på daniabikes.com)
							br
							| og har en værdi af 16.100 kr. per vinder.  
							br
							| Præmien kan ikke ombyttes til kontanter. 
						p
							| Deltagelse er betinget af, at du tilmelder dig nyhedsbrevet.
							br
							| Hjem-IS forbeholder sig ret til at bruge alle de uploadede fotos i
							br
							| markedsføringsmæssig sammenhæng.
							br
							| Konkurrencen er ikke sponseret eller administreret af Facebook.
						p
							img.fluid--xs(src="/images/logo-dania.png")
					div.spacer.spacer--50

		section.container.container--deepsea.container--ridgetop
			div.container__content
				div.container__inner
					div.banner.banner--logo.banner--pull
					div.spacer.spacer--70
					// Social medier
					div.grid--6.querynot--x-small
						div.organizer
							h1 Sociale medier
							ul
								li Følg os på Facebook
								li
								li Følg os på Instagram
					// Tilbud & service
					div.grid--6.querynot--x-small
						div.organizer
							h1 Tilbud & service
							ul
								li Tilmeld SMS Service
								li Tilmeld nyhedsbrev
								li Hjem-IS Klub’n
								li Tilbudsavis
								li Levering
					// Kontakt
					div.grid--6.grid-xs--24
						div.organizer
							h1 Kontakt os
							div.grid--24.grid-xs--10
								table
									tr
										td(width="40%") Addresse
										td
											| HOVEDKONTOR:
											br
											| Hjem-IS Danmark A/S
											br
											| Møllemærsk 29, 1.
											br
											| 6200 Aabenraa
						div.grid--0.grid-xs--4
						div.grid--24.grid-xs--10
							div.organizer
								table
									tr
										td(width="40%") Tlf.:
										td
											| Telefon 76 10 61 00
											br
											| Mandag - torsdag:
											br
											| 8.30 - 16.00
											br
											| Fredag:
											br
											| 8.30 - 14.00
						div.grid--24.grid-xs--10
							div.div.organizer
								table
									tr
										td(width="40%") E-mail:
										td info@hjem-is.dk
					// Depoter
					div.grid--6.querynot--x-small
						div.organizer
							h1 Depoter
							table
								tr
									td(width="60%") Skovlunde
									td 44 68 19 56
								tr
									td Holstebro
									td 97 42 03 30
								tr
									td Fyn
									td 64 43 22 66
								tr
									td Ringsted
									td 57 61 73 78
								tr
									td Vordingborg
									td 56 66 17 10
								tr
									td Aalborg
									td 96 86 01 55
								tr
									td Kolding
									td 75 10 11 12
								tr
									td Hillerød
									td 48 25 45 24
								tr
									td Skanderborg
									td 86 52 36 44
								tr
									td Bornholm
									td 29 29 51 76




		script(src="/assets/scripts/app.js")
		script(src="/assets/scripts/controllers/main.controller.js")
		script(src="/assets/scripts/directives/map.directive.js")
