
/* Global Variables */

// Options booleans
$mq-useAdaptive: true !global; // Media Querie mixin will skip if this ain't true
$debug: false !global; // Show debug features


/* COLORS */
$color_black: #000000;
$color_white: #ffffff;

$color_skyblue: #add8ee;
$color_deepsea: #10223e;
$color_cream: #f4ec9b;

$color_lightgrey: #ededed;
$color_midgrey: #c0bebc;
$color_darkgrey: #69625d;



/* FONTS */
//$font_basic: "Verdane", "Myriad Pro", "Arial", Sans-serif;
$font_basic: "Myriad Pro", "Arial",  Sans-serif;
//$font_OpenSans: 'Open Sans', $font_basic;
$font_proxima-regular: 'Proxima N W01 Reg', $font_basic;
$font_proxima-xbold: 'Proxima N W01 Xbold', $font_basic;
$font_montserrat: 'Montserrat', $font_basic;


/* COLOR & FONT PARAMETERS */
// MAIN
$param_main-background: $color_white !default;
$param_main-font-color: $color_darkgrey !default;

// MENU
$param_menu-font: $font_basic !default;
$param_menu-font-weight: 700 !default;

// BTN
$param_btn-color: $color_white !default;
$param_btn-background: $color_darkgrey;
$param_btn-active-background: $color_white;
$param_btn-font: $font_basic;
$param_btn-font-weíght: 400;

// TILES
$param_tiles_font1: $font_basic;
$param_tiles_font1-weight: 400;
$param_tiles_font2: $font_basic;
$param_tiles_font2-weight: 700;

// RTE
$param_rte-basefont: $font_basic;
$param_rte-basefont-weight: 400;

// ICON
$param_icon-background: $color_darkgrey !default;

// CHECKER
$param_checker-color: $color_deepsea;
$param_checker-color-checked: $color_black;
$param_checker-error-color: red;
$param_checker-background: $color_lightgrey;

// FORM
$param_form-font: $font_basic;
$param_form-input-background: $color_lightgrey;
$param_form-input-color: $color_darkgrey;
$param_form-button-background: $color_midgrey;
$param_form-button-color: $color_white;
$param_form-button-font-weight: 700;
$param_form-submit-background: $color_skyblue;
$param_form-submit-color: $color_white;


// Media Queries, Labels and Content widths
@include newMediaQuerie((name: 'x-small', min-width: 1px, max-width: 569px, contentWidth: 100%, gutterWidth: 15px));
@include newMediaQuerie((name: 'small', min-width: 570px, max-width: 969px, contentWidth: 100%, gutterWidth: 30px));
@include newMediaQuerie((name: 'medium', min-width: 970px, max-width: 1169px, contentWidth: 960px, gutterWidth: 30px));
@include newMediaQuerie((name: 'large', min-width: 1170px, max-width: 1500px, contentWidth: 960px, gutterWidth: 50px));
@include newMediaQuerie((name: 'x-large', min-width: 1501px, contentWidth: 960px, gutterWidth: 50px, default: true));
@include newMediaQuerie((name: 'all', min-width: 1px));
