
@font-face {
	font-family: 'sentinelblack';
	src: url('../fonts/Sentinel-Black-webfont.eot');
	src: url('../fonts/Sentinel-Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sentinel-Black-webfont.woff2') format('woff2'),
	url('../fonts/Sentinel-Black-webfont.woff') format('woff'),
	url('../fonts/Sentinel-Black-webfont.ttf') format('truetype'),
	url('../fonts/Sentinel-Black-webfont.svg#sentinelblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
