

// PARAMETERS
$banners: (
	'gribmobilen': '../images/banner-gribmobilen.png',
	'ekstrachancen': '../images/banner-ekstrachancen.png',
	'ekstralod': '../images/banner-ekstralod.png',
	'betingelser': '../images/banner-betingelser.png',
	'seandres': '../images/banner-seandres.png',
	'hvornaer': '../images/banner-hvornaer.png'
);

// BLOCK
.banner {
  display: block;
 	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


//--- ELEMENTS ----------------------------------------------------------//


//--- MODIFIERS ----------------------------------------------------------//

.banner--pull {
	position: absolute;
}

@each $name, $url in $banners {
	.banner--#{$name} {
		$width: image-width($url);
		$height: image-height($url);
		$ratio: $width / $height;
		background-image: url($url);
		width: $width;
		//padding-bottom: (100% / $ratio * 1);
		padding-bottom: $height;
		&.banner--pull {
			left: calc(50% - #{$width / 2});
			top: -#{$height * 0.65}
		}
	}
}

//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries('x-small') {
	@each $name, $url in $banners {
		.banner--#{$name} {
			$width: image-width($url);
			$height: image-height($url);
			$ratio: $width / $height;
			width: #{$width / 2};
			padding-bottom: #{$height / 2};
			&.banner--pull {
				left: calc(50% - #{$width * 0.5 / 2});
				top: -#{$height * 0.5 * 0.65}
			}
		}
	}
}

@include mediaQueries('small') {
	@each $name, $url in $banners {
		.banner--#{$name} {
			$width: image-width($url);
			$height: image-height($url);
			$ratio: $width / $height;
			width: #{$width * 0.75};
			padding-bottom: #{$height * 0.75};
			&.banner--pull {
				left: calc(50% - #{$width * 0.75 / 2});
				top: -#{$height * 0.75 * 0.65}
			}
		}
	}
}
