

// PARAMETERS
$element-spacing: 20px;

// BLOCK
.form {
	@include fontSize(eta, 0);
  display: block;
  width: 100%;
  font-family: $param_form-font;
}

.form,
.form__line,
.form__label,
.form__input,
.form__button,
.form__upload,
.form__textarea,
.form__select,
.form__msg {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- PLACEHOLDERS ----------------------------------------------------------//

%form__input {
  @include fontSize(eta, 1.2);
  @include noUserSelect();
  display: block;
	position: relative;
  width: 100%;
  margin: 0;
  padding: 18px 16px;
  background-color: $param_form-input-background;
  color: $param_form-input-color;
  outline: none;
	border: none;
  font-family: inherit;
  &.ng-invalid-required {
    &.ng-dirty {
      border: 1px solid red;
    }
  }
}

%form__button {
  @include noUserSelect();
  @include fontSize(eta, 1);
  display: block;
	position: relative;
  width: 100%;
	padding: 18px 16px;
	margin: 0 auto;
  background-color: $param_form-button-background;
  color: $param_form-button-color;
  border: none;
  outline: none;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  font-weight: $param_form-button-font-weight;
  text-decoration: none;
  font-family: inherit;
	text-align: center;
	cursor: pointer;
}

//--- ELEMENTS ----------------------------------------------------------//

.form__label {
  display: block;
  width: 100%;
}

.form__input {
  @extend %form__input;
	-moz-appearance:textfield;
	&[type=number]::-webkit-inner-spin-button,
	&[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.form__textarea {
  @extend %form__input;
  @include fontSize(eta, 1.2);
  min-height: 350px;
}

.form__button {
  @extend %form__button;
  //border: 2px dotted $color_hearth;
  //color: $color_easter;
}

.form__select {
  @extend %form__input;
}

.form__msg {
  @include translate(0, 3px);
  @include fontSize(beta, 1);
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  color: red;
}

.form__upload {
	@extend %form__button;
	padding-top: 4px;
	padding-bottom: 8px;
	& > label {
		display: inline-block;
		vertical-align: sub;
		& + img {
			margin-left: 20px;
		}
	}
	& > input[type="file"] {
		@include appearance(none);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	& > img {
		display: inline-block;
		margin: 0;
	}
}

.form__line {
	display: block;
	position: relative;
	width: 100%;
	clear: both;
}


// Spacing rules
.form__input,
.form__textarea,
.form__button,
.form__select,
.form__upload,
.form__line {
  & + * {
    margin-top: $element-spacing;
  }
}

//--- MODIFIERS ----------------------------------------------------------//

.form--light {
	%form__input {
		background-color: $color_white;
	}
}

.form__button--submit {
	background-color: $param_form-submit-background;
	color: $param_form-submit-color;
}


.form__line--2 {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
	%form__input,
	%form__button {
    width: calc(50% - #{$element-spacing});
    margin-right: $element-spacing;
    float: left;
    & + .form__input {
      margin-top: 0;
      margin-right: 0;
      margin-left: $element-spacing;
    }
  }
}

.form__line--narrow {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}



//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries('x-small') {
	.form__line--narrow {
		width: 80%;
	}
	.form__line--2 {
		%form__input,
		%form__button {
			margin-right: 0;
			width: 100%;
			float: none;
			& + .form__input {
				margin-left: 0;
				margin-top: $element-spacing;
			}
		}
	}
}
