

// PARAMETERS


// BLOCK
.hjemis {
  display: block;
 	width: 100%;
	height: 100%;
	background-color: $param_main-background;
	color: $param_main-font-color;
	font-family: $param_main-font;

	// Make all ng-click have a pointer cursor
	[data-ng-click],
	[ng-click] {
		cursor: pointer;
	}
}

.hjemis,
.hjemis__header,
.hjemis__logo,
.hjemis__headerlink {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


//--- ELEMENTS ----------------------------------------------------------//

.hjemis__header {
	display: block;
	width: 100%;
	height: 120px;
	position: relative;
}

.hjemis__logo {
	$url: '../images/hjemis_logo.png';
	$width: image-width($url);
	$height: image-height($url);
	display: block;
	position: absolute;
	top: -20px;
	left: calc(50% - #{$width / 2});
	width: $width;
	height: $height;
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0;
	z-index: 60;
}

.hjemis__headerlink {
	@include fontSize(zeta, 1);
	position: absolute;
	right: 0;
	color: $color_white;
	top: calc(50% - #{returnFontSize(zeta)});
	font-weight: 700;
}


//--- MODIFIERS ----------------------------------------------------------//


//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries('x-small') {
	.hjemis__logo {
		//width: 40%;
		//left: 30%;
		height: 100%;
		top: -10%;
	}
	.hjemis__header {
		height: 85px;
	}
	.hjemis__headerlink {
		@include fontSize(gamma, 1);
		top: calc(50% - #{returnFontSize(gamma)});
	}
}

@include mediaQueries('small') {

}
