

// PARAMETERS


// BLOCK
.map {
	width: 100%;
	padding-bottom: 60%;
	position: relative;
	& > * {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.map {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//




//--- MODIFIERS ----------------------------------------------------------//


//--- MEDIA QUERRIES ----------------------------------------------------------//


@include mediaQueries('x-small') {
	.map {
		padding-bottom: 120%;
	}
}

@include mediaQueries('small') {
	.map {
		//padding-bottom: 80%;
	}
}
