

// PARAMETERS

// BLOCK
.rte {
  @include fontSize(eta, 1.4);
  display: block;
  width: 100%;
  counter-reset: item;
  font-family: $param_rte-basefont;
	font-weight: $param_rte-basefont-weight;
  color: inherit;
  & + & {
    margin-top: 40px;
  }
}

.rte p,
.rte a,
.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte img,
.rte div,
.rte form {
  display: block;
  width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
	&.rte__neverstrech {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
  &:not(.rte__pull) {
    & + * {
      margin-top: 20px;
    }
  }
  &:not(.rte__pullup) {
		margin-bottom: 0;
  }
}

.rte a {
  //@include fontSize(gamma, 1);
  color: $color_darkgrey;
}

.rte p {
	text-align: center;
  a {
    display: inline;
    text-transform: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

.rte,
.rte__headline,
.rte__segment,
.rte__image,
.rte__text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.rte__headline {
  @include fontSize(zeta, 1);
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 0;
  //font-weight: 400;
  font-weight: inherit;
  color: inherit;
}

.rte__segment {
  display: block;
  width: 100%;
  position: relative;
  padding-left: 20px;
  clear: both;
  overflow: hidden;
  & + & {
    margin-top: 40px;
  }
}

.rte__image {
  display: block;
  position: relative;
  margin-top: 20px;
  float: left;
  width: 45%;
  & + .rte__text {
    width: auto;
    overflow: hidden;
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
  }
  & > img {
    display: block;
    width: 100%;
    border: 2px solid $color_white;
  }
}

.rte__text {
  width: 100%;
  display: block;
}

.rte__pull {
  & + * {
    margin-top: 0;
  }
}

.rte__push {
	& + * {

	}
}

.rte__pullup {
	position: relative;
	top: -90px;
	margin-bottom: -90px;
}

//--- MODIFIERS ----------------------------------------------------------//

.rte--center {
  text-align: center;
}

.rte__headline--theta {
	@include fontSize(theta, 1);
}

.rte--narrow {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.rte--inherit {
	font-size: inherit;
	line-height: 1;
}

.rte__pullup--hard {
	top: -180px;
	margin-bottom: -180px;
}

//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries('x-small') {
	.rte--narrow {
		width: 100%;
	}
	.rte__pullup {
		top: -30px;
		margin-bottom: -30px;
	}
}

@include mediaQueries('small') {
	.rte img {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.rte--narrow {
		width: 100%;
	}
}

@include mediaQueries('medium') {
	.rte img {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	.rte--narrow {
		width: 80%;
	}
}
