extends ../master


block append head

block append body

block append content

	section.container
		div.container__content(data-step="1")
			div.container__inner
				div.rte
					p
						| De blå Hjem-IS biler er på vejene over hele landet.
						br
						| Grib din mobiltelefon, tag et pletskud af Hjem-IS bilen og upload det her. Så er du med i konkurrencen om en Citroën C1 samt MBK og Raleigh cykler fra
						br
						| Dania Bikes. Deltagelse er betinget af, at du tilmelder dig nyhedsbrevet.
						br
						| Du kan deltage med et foto per mailadresse.
				div.spacer
				form.form
					div.form__line.form__line--narrow
						div.form__upload
							label Upload foto
							img(src="/images/icon-camera.png")
							input(type="file", value="Upload foto")
					input.form__input(type="text", placeholder="Fornavn")
					input.form__input(type="text", placeholder="Efternavn")
					input.form__input(type="email", placeholder="E-mail")
					input.form__input(type="number", placeholder="Tlf.")
					div.checker
						div.checker__box
							input(type="checkbox")
							div.checker__ui
						div.checker__text
							b JA TAK.
							|  Jeg ønsker at deltage i konkurrencen samt modtage nyhedsbrev fra Hjem-IS med tilbud, nyheder mm.
							br
							| (Bare rolig, hvis du allerede er tilmeldt får du ikke 2)
					div.form__line.form__line--narrow
						input.form__button.form__button--submit(type="submit", value="Deltag")
		div.container__content(data-step="2")
		div.container__content(data-step="3")

	//section.container
		div.container__content
			div.container__inner
				div.tiles
					- for (var i = 0; i < 16; ++i) {
						a.tiles__tile(data-ng-click="main.toggleOverlay('case', true, #{i})")
							figcaption.tiles__overlay Watch
							div.tiles__inner
								img(src="http://placehold.it/450x338")
							div.tiles__inner
								| Madhouse
								b Collection
					- }
